{{ "<!-- Programme -->" | safeHTML }}
<section id="programme">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Le programme</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3>Samedi</h3>
                <table class="table">
                    <tr>
                      <th>11h</th>      <td><div class="the-des-femmes">Balade botanique F. Razo</div></td>
                    </tr>
                    <tr>
                      <th>11h30</th>    <td><div class="neutre">Du thé partout !</div>
                                            <div class="neutre">Ouverture des expos</div></td>
                    </tr>
                    <tr>
                      <th>14h</th>      <td><div class="societe-en-transition">Ouverture gratiféria</div>
                                          <div class="societe-en-transition">Ouverture du troc de graines</div>
                                          <div class="education">Atelier expression libre</div></td>
                    </tr>
                    <tr>
                      <th>14h15</th>    <td><div class="the-des-femmes">Gongfu cha</div></td>
                    </tr>
                    <tr>
                      <th>14h45</th>    <td><div class="education">Conférence / Échanges éducation</div></td>
                    </tr>
                    <tr>
                      <th>16h</th>      <td><div class="the-des-femmes">2eme balade botanique F. Razo</div></td>
                    </tr>
                    <tr>
                      <th>16h-17h30</th><td><div class="salle-des-fetes">Présentation thé Matthieu</div></td>
                    </tr>
                    <tr>
                      <th>17h30</th>    <td><div class="salle-des-fetes">Spectacle projection / Danse impro</div></td>
                    </tr>
                    <tr>
                      <th>19h</th>      <td><div class="societe-en-transition">Repas buffet / Auberge espagnole</div></td>
                    </tr>
                    <tr>
                      <th>20h30</th>    <td><div class="salle-des-fetes">Début soirée surprise</div></td>
                    </tr>
                </table>

                <h3>Dimanche</h3>
                <table class="table">
                    <tr>
                        <th>11h-13h</th><td><div class="salle-des-fetes">Présentation projets Oasis</div>
                                            <div class="the-des-femmes">3eme balade botanique F. Razo</div></td>
                    </tr>
                    <tr>
                        <th>14h</th>    <td><div class="the-des-femmes">Wu Tao</div></td>
                    </tr>
                    <tr>
                        <th>15h</th>    <td><div class="neutre">La voix du thé</div></td>
                    </tr>
                    <tr>
                        <th>16h</th>    <td><div class="education">Gongfu cha</div></td>
                    </tr>
                    <tr>
                        <th>17h</th>    <td><div class="salle-des-fetes">Impro battle</div></td>
                    </tr>
                    <tr>
                        <th>18h</th>    <td><div class="salle-des-fetes">Finale</div></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
