{{ "<!-- Programme -->" | safeHTML }}
<section id="programme">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    Le programme
                    <small><a href="programme.pdf" target="_blank"><i class="fa fa-download"></i>pdf</a></small>
                </h2>
            </div>
        </div>
        <h3>Samedi</h3>
        <div class="table-responsive">
        <table class="table">
            <thead>
            <tr class="table-header">
                <th></th>
                <th class="the-des-femmes">Thé des femmes</th>
                <th class="education">Éducation et respect<br>de la vie sur terre</th>
                <th class="societe-en-transition">Société en transition</th>
                <th class="salle-des-fetes">Salle des fêtes</th>
            </tr>
            <tr class="table-sub-header">
                <th></th>
                <th>Direction la Mairie</th>
                <th>Sous la halle</th>
                <th>Parking de la salle des fêtes</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr><th>10h30 </th><td class="the-des-femmes"><div>Départ balade botanique</div><div>Ouverture expo Myrrha</div></td>
                               <td class="education"><div>Ouverture des stands et expo des élèves du collège de Montignac</div></td>
                               <td class="societe-en-transition"><div>Ouverture des stands</div></td>
                               <td class="salle-des-fetes"><div>Ouverture des stands</div></td>
            <tr><th>11h   </th><td class="the-des-femmes"><div>Cérémonie du thé GONGFU CHA par Matthieu Mayer</div></td>
                               <td class="education"></td>
                               <td class="societe-en-transition"></td>
                               <td class="salle-des-fetes"></td>
            <tr><th>11h40 </th><td class="the-des-femmes"><div>Présentation de l'ONG Amrita Serve par Kaivalya</div></td>
                               <td class="education"></td>
                               <td class="societe-en-transition"></td>
                               <td class="salle-des-fetes"></td>
            <tr><th>12h   </th><td class="the-des-femmes"></td>
                               <td class="education"></td>
                               <td class="societe-en-transition"><div>Ouverture troc de graine (sur les deux jours)</div></td>
                               <td class="salle-des-fetes"></td>
            <tr><th>12h30 </th><td class="the-des-femmes"></td>
                               <td class="education"></td>
                               <td class="societe-en-transition"><div>Restauration</div></td>
                               <td class="salle-des-fetes"></td>
            <tr><th>14h   </th><td class="the-des-femmes"></td>
                               <td class="education"></td>
                               <td class="societe-en-transition"></td>
                               <td class="salle-des-fetes"><div>Projection du film HUMAN</div></td>
            <tr><th>14h30 </th><td class="the-des-femmes"><div>Départ 2eme balade botanique</td>
                               <td class="education"></td>
                               <td class="societe-en-transition"></td>
                               <td class="salle-des-fetes"></td>
                               <td class="marjolaine"></td></tr>
            <tr><th>15h   </th><td class="the-des-femmes"></td>
                               <td class="education"></td>
                               <td class="societe-en-transition"></td>
                               <td class="salle-des-fetes"><div>Cérémonie du thé et présentation esprit du thé par Matthieu Mayer</div></td>
            <tr><th>16h   </th><td class="the-des-femmes"></td>
                               <td class="education"><div>Atelier expression libre artistique</div></td>
                               <td class="societe-en-transition"></td>
                               <td class="salle-des-fetes"><div>Projection du film HUMAN (suite)</div></td>
            <tr><th>17h30 </th><td class="the-des-femmes"></td>
                               <td class="education"><div>Danse impro par la troupe du festival NOW(au dessus de la halle)</div></td>
                               <td class="societe-en-transition"></td>
                               <td class="salle-des-fetes"><div>Danse impro (ds salle des fêtes si pluie)</div></td>
            <tr><th>19h30 </th><td class="the-des-femmes"></td>
                               <td class="education"></td>
                               <td class="societe-en-transition"></td>
                               <td class="salle-des-fetes"><div>Repas buffet  par Jeanne</div></td>
            <tr><th>21h   </th><td class="the-des-femmes"></td>
                               <td class="education"></td>
                               <td class="societe-en-transition"></td>
                               <td class="salle-des-fetes"><div>Soirée surprise à la salle des fêtes</div></td>
            </tbody>
        </table>
        </div>

        <h3>Dimanche</h3>
        <table class="table">
            <thead>
            <tr class="table-header">
                <th></th>
                <th class="the-des-femmes">Thé des femmes</th>
                <th class="education">Éducation et respect<br>de la vie sur terre</th>
                <th class="societe-en-transition">Société en transition</th>
                <th class="salle-des-fetes">Salle des fêtes</th>
            </tr>
            <tr class="table-sub-header">
                <th></th>
                <th>Direction la Mairie</th>
                <th>Sous la halle</th>
                <th>Parking de la salle des fêtes</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr><th>10h30</th><td class="the-des-femmes"><div>Atelier de Wu Tao avec Marina</div></td>
                              <td class="education"><div>Atelier pistage avec Francis Collie</div></td>
                              <td class="societe-en-transition"></td>
                              <td class="salle-des-fetes"></td></tr>
            <tr><th>11h</th>  <td class="the-des-femmes"></td>
                              <td class="education"></td>
                              <td class="societe-en-transition"></td>
                              <td class="salle-des-fetes"><div>Forum ouvert sur le thème de l'éducation</div></td></tr>
            <tr><th>13h50</th><td class="the-des-femmes"></td>
                              <td class="education"></td>
                              <td class="societe-en-transition"><div>Présentation bambou do avec Caelka</div></td>
                              <td class="salle-des-fetes"></td></tr>
            <tr><th>14h20</th><td class="the-des-femmes"><div>Atelier de Wu Tao avec Marina</div></td>
                              <td class="education"></td>
                              <td class="societe-en-transition"></td>
                              <td class="salle-des-fetes"><div>Cérémonie du thé GONGFU CHA par Matthieu Mayer </div></td></tr>
            <tr><th>15h</th>  <td class="the-des-femmes"><div>Départ de ballade botanique</div></td>
                              <td class="education"></td>
                              <td class="societe-en-transition"></td>
                              <td class="salle-des-fetes"><div>Présentation projets éco lieux<br>(2 heures)</div></td></tr>
            <tr><th>17h</th>  <td class="the-des-femmes"></td>
                              <td class="education"><div>La voix du thé : chants dans l'église de Plazac</div></td>
                              <td class="societe-en-transition"></td>
                              <td class="salle-des-fetes"></td></tr>
            <tr><th>17h40</th><td class="the-des-femmes"></td>
                              <td class="education"></td>
                              <td class="societe-en-transition"></td>
                              <td class="salle-des-fetes"><div>Impro battle théâtre par la troupe du festival NOW !!</div></td></tr>
            <tr><th>18h30</th><td class="the-des-femmes"></td>
                              <td class="education"></td>
                              <td class="societe-en-transition"><div>Représentation de percus par les les personnes accueillies du foyer l'Embellie</div></td>
                              <td class="salle-des-fetes"></td></tr>
            <tr><th>19h</th>  <td class="the-des-femmes"></td>
                              <td class="education"></td>
                              <td class="societe-en-transition"><div>Final, tous ensembles pour un Monde en Paix !!</div></td>
                              <td class="salle-des-fetes"></td></tr>
            </tbody>
        </table>
    </div>
</section>
