<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    {{ partial "head.html" . }}
</head>
    <body id="page-top" class="index">
        {{ partial "nav.html" . }}
        {{ partial "hero.html" . }}

        <div id="video">
            <iframe width="853" height="480" src="https://www.youtube-nocookie.com/embed/TP_FTKenRrk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>

        {{ if .Site.Params.about.enable }}
            {{ partial "about.html" . }}
        {{ end }}

        {{partial "programme.html" . }}

        {{ if .Site.Params.services.enable }}
            {{ partial "services.html" . }}
        {{ end }}

        {{ if .Site.Params.portfolio.enable }}
            {{ partial "portfolio.html" . }}
        {{ end }}

        {{ if .Site.Params.team.enable }}
            {{ partial "team.html" . }}
        {{ end }}

        {{ if .Site.Params.clients_list.enable }}
            {{ partial "clients.html" . }}
        {{ end }}

        {{ if .Site.Params.contact.enable }}
            {{ partial "contact.html" . }}
        {{ end }}

        {{ if .Site.Params.footer.enable }}
            {{ partial "footer.html" . }}
        {{ end }}

        {{ if .Site.Params.about.enable }}
            {{ partial "modals.html" . }}
        {{ end }}

        {{ partial "js.html" . }}
    </body>
</html>
